* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
}

/* navbar */
nav {
  display: flex;
  align-items: center;
  padding: 10px 0;
  width: 1200px;
  margin: 0 auto;
}

nav .logo {
  padding: 0 10px 0 50px;
  font-size: 20px;
  font-weight: 900;
}

ul {
  padding: 20px;
  list-style-type: none;
  display: flex;
  gap: 20px;
}
ul a {
  color: #333;
  text-decoration: none;
  padding: 5px;
}

ul a:hover {
  color: #111;
  transition: all 0.3s;
}

.logo a {
  text-decoration: none;
  color: #333;
}

/* hero section */
.hero {
  height: 800px;
  background-image: url("images/background.jpg");
  background-size: cover;
  background-position: center center;
}

.content {
  width: 1200px;
  height: 85%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 20px;
}

.box {
  width: 520px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 30px;
}

.myJob {
  width: max-content;
  text-transform: capitalize;
  font-size: 20px;
  color: transparent;
  background-image: linear-gradient(to right, indigo, darkslateblue);
  -webkit-background-clip: text;
}

.myName {
  font-size: 50px;
  font-weight: 900;
  letter-spacing: -1px;
  color: #222;
}

.aboutMe {
  padding: 15px 30px;
  border-radius: 100px;
  background-color: darkslateblue;
  text-decoration: none;
  color: white;
  width: max-content;
}

.aboutMe:hover {
  background-color: indigo;
  transition: all 0.3s;
}
