* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: Arial, Helvetica, sans-serif;
  max-width: 1900px;
  margin: 0 auto;
}
.container {
  max-width: 90rem;
  margin: 0 auto;
}
button:hover {
  cursor: pointer;
}
nav {
  padding: 2rem;
  display: flex;
  justify-content: space-between;
}
nav button {
  background: #fff;
  color: hsl(322, 100%, 66%);
  border: 1px solid hsl(322, 100%, 66%);
  border-radius: 10rem;
  padding: 0 2rem;
  box-shadow: 0 0 20px 0 rgba(255, 143, 216, 0.2);
  transition: all 0.2s;
}
button:hover {
  box-shadow: 0 0 20px 0 rgba(255, 143, 216, 0.4);
}
.hero {
  text-align: center;
  margin: 12rem 0 6rem;
}
.hero h1 {
  margin-bottom: 2rem;
  font-size: 3rem;
  color: hsl(192, 100%, 9%);
  padding: 0 2rem;
  font-weight: bold;
}
.hero p {
  margin: 0 auto 2rem;
  max-width: 35rem;
  color: hsl(192, 100%, 9%);
  line-height: 1.5;
}
.hero button,
main section:last-child button {
  background: hsl(322, 100%, 66%);
  color: #fff;
  border: none;
  border-radius: 10rem;
  padding: 1rem 3rem;
  cursor: pointer;
  margin-bottom: 4rem;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.15);
  transition: all 0.2s;
}
.hero button:hover,
main section:last-child button:hover,
.footer__form form button:hover {
  background-color: hsl(321, 100%, 78%);
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
}

.hero__image {
  margin-bottom: 6rem;
  padding: 2rem;
}
.hero__image img {
  width: 100%;
}
.hero__communities-messages {
  padding: 0 2rem;
  max-width: 60rem;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}
.hero__communities-icon img,
.hero__messages-icon img {
  width: 100%;
}
.hero__communities,
.hero__messages {
  display: flex;
  flex-direction: column;
  align-items: start;
}
.hero__communities-count,
.hero__messages-count {
  font-size: 6rem;
  font-weight: bold;
  margin-bottom: 0.625rem;
  color: hsl(192, 100%, 9%);
}
.hero__communities-text,
.hero__messages-text {
  align-self: stretch;
  text-align: center;
  font-size: 1.5rem;
  color: #666;
}
main section:nth-child(3)::before,
main section:nth-child(3)::after,
main section:first-child::before,
main section:first-child::after,
footer::after {
  content: "";
  position: absolute;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  background-size: contain;
  background-repeat: no-repeat;
}
main section:first-child {
  position: relative;
  background: hsl(207, 100%, 98%);
  margin: 20rem 0;
}
main section:first-child::before {
  top: -100%;
  z-index: -1;
  background-image: url("./images/bg-section-top-desktop-1.svg");
  background-position: bottom;
}
main section:first-child::after {
  bottom: -100%;
  z-index: -1;
  background-image: url("./images/bg-section-bottom-desktop-1.svg");
}
.section__container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  gap: 2rem;
  padding: 0 2rem;
  color: hsl(192, 100%, 9%);
}
.section__text h2 {
  font-size: 3rem;
  margin-bottom: 1.5rem;
}
.section__text p {
  font-size: 1.3rem;
  line-height: 1.5;
}
.section__image {
  display: flex;
  justify-content: center;
  width: 100%;
}
.section__image img {
  width: 90%;
}
.seciton {
  margin: 20rem 0;
}
main section:nth-child(2) {
  margin: 20rem 0;
}
main section:nth-child(3) {
  background: hsl(207, 100%, 98%);
  position: relative;
  margin: 20rem 0;
}
main section:nth-child(3)::before {
  top: -100%;
  z-index: 12;
  background-image: url("./images/bg-section-top-desktop-2.svg");
  background-position: bottom;
}
main section:nth-child(3)::after {
  bottom: -100%;
  background-image: url("./images/bg-section-bottom-desktop-2.svg");
}
main section:last-child {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 10rem;
}
main section:last-child h2 {
  font-size: 3rem;
  margin-bottom: 1.5rem;
  color: hsl(192, 100%, 9%);
}
footer {
  position: relative;
  background-color: hsl(192, 100%, 9%);
  color: #fff;
  padding: 10rem 6rem;
  margin-top: 20rem;
}
.footer__container {
  display: flex;
  justify-content: space-between;
}
footer::after {
  top: -100%;
  background-image: url("./images/bg-footer-top-desktop.svg");
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: contain;
}
.footer__text {
  max-width: 20rem;
}
.footer__text p {
  margin-bottom: 1.5rem;
  line-height: 1.5;
}
.footer__logo {
  width: 16rem;
  margin-bottom: 1rem;
}
.footer__logo img {
  width: 100%;
  filter: brightness(0) invert(1);
}
.footer__phone,
.footer__email {
  display: flex;
  gap: 2rem;
}
.footer__phone {
  margin-bottom: 1rem;
}
.footer__form p:first-child {
  font-size: 1.8rem;
  margin-bottom: 1rem;
  text-transform: uppercase;
}
.footer__form p:nth-child(2) {
  width: 23rem;
  margin-bottom: 1.5rem;
  line-height: 1.5;
}
.footer__form form {
  display: flex;
  gap: 2rem;
}
.footer__form form input {
  width: 20rem;
  padding: 0.625rem;
  outline: none;
  border-radius: 5px;
  border: none;
}
.footer__form form button {
  padding: 0.625rem 2rem;
  background: hsl(322, 100%, 66%);
  color: #fff;
  border: none;
  border-radius: 5px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.15);
  transition: all 0.2s;
}

@media screen and (max-width: 64em) {
  .hero {
    max-width: 48rem;
    margin-top: 6rem;
    margin-left: auto;
    margin-right: auto;
  }
  .hero__communities-messages {
    padding: 0 8rem;
  }
  .hero__communities-count,
  .hero__messages-count {
    font-size: 4rem;
  }
  .hero__communities-text,
  .hero__messages-text {
    font-size: 1.125rem;
  }
  .section__container {
    gap: 1.5rem;
    padding: 0 1.5rem;
  }
  .section__text h2 {
    font-size: 2.5rem;
    margin-bottom: 1.3rem;
  }
  .section__text p {
    font-size: 1.125rem;
    line-height: 1.5;
  }
  main section:last-child h2 {
    font-size: 2.5rem;
  }
  main section:first-child,
  main section:nth-child(2),
  main section:nth-child(3) {
    margin: 10rem 0;
  }
  main section:last-child {
    margin-bottom: 0;
  }
  footer {
    margin-top: 10rem;
    padding: 10rem 2rem;
  }
  .hero__image {
    margin-bottom: 0;
  }
  .footer__form form {
    display: grid;
    flex-wrap: wrap;
    gap: 1rem;
  }
  .footer__form form input {
    margin-bottom: 0;
    width: auto;
  }
}
@media screen and (max-width: 48em) {
  main section:first-child::before {
    background-image: url("./images/bg-section-top-mobile-1.svg");
  }
  main section:first-child::after {
    background-image: url("./images/bg-section-bottom-mobile-2.svg");
  }
  main section:nth-child(3)::before {
    background-image: url("./images/bg-section-top-mobile-1.svg");
  }
  main section:nth-child(3)::after {
    background-image: url("./images/bg-section-bottom-mobile-2.svg");
  }
  footer::after {
    background-image: url("./images/bg-footer-top-mobile.svg");
  }
  main section:nth-child(2) .section__container {
    flex-direction: column;
  }
  .section__container {
    display: flex;
    flex-direction: column-reverse;
    gap: 4rem;
    text-align: center;
  }
  .section__container .section__image {
    max-width: 400px;
  }
  .section__text h2 {
    font-size: 2rem;
    margin-bottom: 1.2rem;
  }
  main section:first-child,
  main section:nth-child(2),
  main section:nth-child(3) {
    padding: 5rem 0;
  }
  main section:last-child h2 {
    font-size: 2rem;
  }
  footer {
    margin-top: 5rem;
  }
  .footer__container {
    display: grid;
    gap: 4rem;
    justify-content: center;
  }
  .hero h1 {
    font-size: 2.5rem;
  }
  nav button {
    padding: 0 1.5rem;
  }
  .nav__logo {
    width: 160px;
  }
  .nav__logo img {
    width: 100%;
  }
}
@media screen and (max-width: 40em) {
  nav {
    padding: 1.5rem 1rem;
  }
  .nav__logo {
    width: 120px;
  }
  nav button {
    padding: 0.3rem 1rem;
  }
  .hero h1 {
    font-size: 1.5rem;
    margin-bottom: 1.5rem;
  }
  .hero p {
    font-size: 1rem;
    padding: 0 1rem;
    margin-bottom: 2.5rem;
  }
  .hero__communities-messages {
    display: grid;
    gap: 4rem;
    padding: 0;
    justify-content: center;
  }
  .hero__communities-icon,
  .hero__messages-icon {
    width: 40px;
  }
  .hero__image {
    margin-bottom: 4rem;
  }
  .hero__communities-count,
  .hero__messages-count {
    font-size: 4rem;
    margin-bottom: 0.625rem;
  }
  .hero__communities-text,
  .hero__messages-text {
    font-size: 1rem;
  }
  .section__text h2 {
    font-size: 2rem;
    margin-bottom: 1.2rem;
  }
  main section:first-child,
  main section:nth-child(2),
  main section:nth-child(3) {
    padding: 5rem 0;
  }
  main section:last-child h2 {
    font-size: 1.5rem;
    padding: 0 1rem;
    text-align: center;
  }
  .section__container p {
    max-width: 420px;
    font-size: 1rem;
  }
  .section__text h2 {
    font-size: 1.5rem;
  }
  main section:first-child,
  main section:nth-child(2),
  main section:nth-child(3) {
    margin: 5rem 0;
  }
}
