* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

.container {
  max-width: 90rem;
  margin: 0 auto;
}

nav {
  padding: 2rem;
  display: flex;
  justify-content: space-between;
}

nav button {
  background: #fff;
  color: hsl(322, 100%, 66%);
  border: 1px solid hsl(322, 100%, 66%);
  border-radius: 10rem;
  padding: 0 2rem;
  cursor: pointer;
}

.hero {
  text-align: center;
  margin: 12rem 0 6rem;
}

.hero h1 {
  margin-bottom: 2rem;
  font-size: 3rem;
  color: hsl(192, 100%, 9%);
}

.hero p {
  margin: 0 auto 2rem;
  max-width: 35rem;
  color: hsl(192, 100%, 9%);
}

.hero button {
  background: hsl(322, 100%, 66%);
  color: #fff;
  border: none;
  border-radius: 10rem;
  padding: 1rem 3rem;
  cursor: pointer;
  margin-bottom: 4rem;
}

.hero__image {
  margin-bottom: 6rem;
}

.hero__communities-messages {
  max-width: 60rem;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}

.hero__communities,
.hero__messages {
  display: flex;
  flex-direction: column;
  align-items: start;
}

.hero__communities-count,
.hero__messages-count {
  font-size: 6rem;
  font-weight: bold;
  margin-bottom: 0.625rem;
  color: hsl(192, 100%, 9%);
}

.hero__communities-text,
.hero__messages-text {
  align-self: stretch;
  text-align: center;
  font-size: 1.5rem;
  color: #666;
}

.together {
  position: relative;
  background: hsl(207, 100%, 98%);
  margin: 16rem 0;
}

.together::before {
  content: "";
  position: absolute;
  left: 0;
  top: -100%;
  width: 100%;
  height: 100%;

  z-index: -1;

  background-image: url("./images/bg-section-top-desktop-1.svg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: bottom;
}

.together::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -100%;
  width: 100%;
  height: 100%;

  z-index: -1;

  background-image: url("./images/bg-section-bottom-desktop-1.svg");
  background-size: contain;
  background-repeat: no-repeat;
}
