* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
}

main {
  text-align: center;
}

main > h1 {
  margin: 20px;
  margin-bottom: 40px;
}

main > a {
  text-decoration: none;
  color: #111;
  background-color: #eee;
  padding: 10px;
  border-radius: 5px;
}

main > a:hover {
  color: #eee;
  background-color: mediumslateblue;
}
