* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "bai jamjuree", sans-serif;
}

header,
main,
footer {
  max-width: 90rem;
  width: 100%;
  margin: 0 auto;
}

/******************** header ********************/
header {
  background-image: url("./images/bg-header-desktop.png");
  background-repeat: no-repeat;
  margin-bottom: 2.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.header__logo {
  margin-top: 7rem;
  width: 5rem;
  height: 5rem;
}

.header__heading {
  margin: 2.5rem 0;
}

.header__heading-1 {
  font-size: 2rem;
  margin-bottom: 0.825rem;
  color: #4c545d;
}

.header__description {
  width: 35rem;
  color: #9fabb2;
}

.header__buttons {
  display: flex;
  gap: 1rem;
}

.header__buttons > button {
  padding: 1rem 2rem;
  border-radius: 16rem;
  border: none;
  color: #fff;
}

.header__ios-button {
  background-color: #26baa4;
}

.header__mac-button {
  background-color: #6173ff;
}

/******************** main ********************/
main {
}
