* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --text-2xs: 0.625rem;
  --text-xs: 0.75rem;
  --text-sm: 0.875rem;
  --text-base: 1rem;
  --text-md: 1.125rem;
  --text-lg: 1.25rem;
  --text-xl: 1.5rem;
  --text-2xl: 1.75rem;
  --text-3xl: 2rem;
  --text-4xl: 2.5rem;

  --header-text-color: #4c545d;
  --description-text-color: #9fabb2;
  --button-bg-color-ios: #26baa4;
  --button-bg-color-mac: #6173ff;
}

body {
  font-family: "bai jamjuree", sans-serif;
}

header,
main,
footer {
  max-width: 90rem;
  width: 100%;
  margin: 0 auto;
  padding: 0 1rem;
}

/******************** global ********************/
.buttons {
  display: flex;
  justify-content: center;
  gap: 1rem;
}

.buttons > button {
  padding: 0.825rem 2rem;
  border-radius: 16rem;
  border: none;
  color: #fff;
}

.buttons > button:hover {
  cursor: pointer;
}

.ios-button {
  background-color: var(--button-bg-color-ios);
  box-shadow: 0 3px 0 0 #1d907f, 0 10px 30px 0 #1d907f80;
}

.mac-button {
  background-color: var(--button-bg-color-mac);
  box-shadow: 0 3px 0 0 #3c4fdd, 0 10px 30px 0 #3c4fdd80;
}

.ios-button:hover {
  background-color: #26baa4dd;
  box-shadow: 0 3px 0 0 #1d907fbb, 0 10px 30px 0 #1d907faa;
  transition: all 0.2s;
}

.mac-button:hover {
  background-color: #6173ff;
  box-shadow: 0 3px 0 0 #3c4fddbb, 0 10px 30px 0 #3c4fddaa;
  transition: all 0.2s;
}

/******************** header ********************/
header {
  background-image: url("./images/bg-header-desktop.png");
  background-position: top center;
  background-repeat: no-repeat;
  padding-bottom: 5rem;

  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.header__logo {
  margin-top: 7rem;
  width: 5rem;
  height: 5rem;
}

.header__heading {
  width: inherit;
  margin: 2.5rem 0;
}

.header__heading-1 {
  font-size: var(--text-4xl);
  margin-bottom: 0.825rem;
  color: var(--header-text-color);
}

.header__description {
  max-width: 38rem;
  margin: 0 auto;
  line-height: 1.4;
  color: var(--description-text-color);
  font-size: var(--text-md);
}

/******************** main ********************/
.section {
  padding: 5rem 0;
  /* background-color: rgba(255, 0, 0, 0.1); */
}

.section__header {
  text-align: center;
}

.section__header-heading {
  font-size: var(--text-3xl);
  color: var(--header-text-color);
  margin-bottom: 0.825rem;
}

.section__header-description {
  font-size: var(--text-base);
  line-height: 1.4;
  color: var(--description-text-color);
  max-width: 38rem;
  margin: 0 auto;
}

.section {
  display: flex;
  flex-direction: column;
  gap: 4rem;
}

/* section 1 */
.section-1__content {
  display: flex;
  overflow: hidden;
}

.section-1__image {
  width: 50%;
}

.section-1__image > img {
  width: 100%;
  transform: translateX(-1.8rem);
}

.section-1__items {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 2.5rem;
  max-width: 21rem;
  margin: 0 6rem;
}

.section-1__item-title {
  color: var(--header-text-color);
  font-size: var(--text-xl);
  margin-bottom: 0.625rem;
}

.section-1__item-description {
  color: var(--description-text-color);
  font-size: var(--text-base);
}

/* section 2 */
.section-2__image {
  margin: 0 auto;
  max-width: max-content;
  width: 100%;
}

.section-2__image > img {
  width: inherit;
}

/* section 3 */
.section-3__tools {
  max-width: 67.5rem;
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  flex-grow: 1;
}

.section-3__tool {
  flex-basis: calc(100% / 3);
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 0 0.5rem;
}

.section-3__icon {
  margin-bottom: 2rem;
}

.section-3__title {
  margin-bottom: 1rem;
  color: var(--header-text-color);
  font-size: var(--text-xl);
}

.section-3__description {
  color: var(--description-text-color);
  font-size: var(--text-base);
}

/* section 4 */
.logos {
  max-width: 67.5rem;
  margin: 4rem auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* section 5 */
.section-5 {
  gap: 3rem;
}

/******************** footer ********************/
footer {
  background-color: rgba(159, 171, 178, 0.12);
  position: relative;
}

.footer__container {
  max-width: 67.5rem;
  width: 100%;
  margin: 0 auto;
  padding: 2rem 0;
  gap: 8rem;
  display: flex;
  align-items: center;
}

.footer__social-media {
  margin-left: auto;
  display: flex;
  gap: 1.5rem;
  align-items: center;
}

.footer__logo {
  width: 3rem;
}

.footer__logo > img {
  width: inherit;
}

.footer__items {
  display: flex;
  flex-wrap: wrap;
}

.footer__item {
  flex-basis: calc(100% / 3);
  margin: 0.625rem 0;
}

.footer__item > a {
  text-decoration: none;
  color: var(--header-text-color);
}

.codedby {
  font-size: 0.825rem;
  text-align: center;
  position: absolute;
  width: 100%;
  left: 0;
  bottom: 0;
}

@media screen and (max-width: 64rem) {
  .section__header-heading {
    font-size: var(--text-2xl);
  }
  .section-1__content {
    flex-direction: column;
    align-items: center;
    gap: 4rem;
  }
  .section-1__image {
    max-width: 32rem;
    width: 100%;
  }
  .section-1__image > img {
    transform: translateX(0);
  }
  .section-1__items {
    text-align: center;
    margin: 0 1rem;
  }
  .section-2__image {
    max-width: 32rem;
  }
}

@media screen and (max-width: 48rem) {
  .header__heading-1 {
    font-size: var(--text-3xl);
  }
  .header__description {
    font-size: var(--text-base);
  }
}

@media screen and (max-width: 26.25rem) {
  .buttons {
    flex-direction: column;
    align-items: center;
    gap: 1.5rem;
    width: 100%;
  }
  .buttons > button {
    max-width: 18rem;
    width: 100%;
  }
}
