* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --header-text-color: #4c545d;
  --first-header-font-size: 2rem;
  --second-header-font-size: 1.5rem;
  --third-header-font-size: 1.2rem;

  --description-text-color: #9fabb2;
  --description-font-size: 1rem;

  --button-bg-color-ios: #26baa4;
  --button-bg-color-mac: #6173ff;
}

body {
  font-family: "bai jamjuree", sans-serif;
}

header,
main,
footer {
  max-width: 90rem;
  width: 100%;
  margin: 0 auto;
}

/******************** header ********************/
header {
  background-image: url("./images/bg-header-desktop.png");
  background-repeat: no-repeat;
  padding-bottom: 5rem;

  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.header__logo {
  margin-top: 7rem;
  width: 5rem;
  height: 5rem;
}

.header__heading {
  margin: 2.5rem 0;
}

.header__heading-1 {
  font-size: var(--first-header-font-size);
  margin-bottom: 0.825rem;
  color: var(--header-text-color);
}

.header__description {
  width: 35rem;
  color: var(--description-text-color);
}

.header__buttons {
  display: flex;
  gap: 1rem;
}

.header__buttons > button {
  padding: 1rem 2rem;
  border-radius: 16rem;
  border: none;
  color: #fff;
}

.header__ios-button {
  background-color: var(--button-bg-color-ios);
}

.header__mac-button {
  background-color: var(--button-bg-color-mac);
}

/******************** main ********************/
main {
  padding: 5rem 0;
  background-color: rgba(255, 0, 0, 0.1);
}
