:root {
  --text-2xs: 0.625rem;
  --text-xs: 0.75rem;
  --text-sm: 0.875rem;
  --text-base: 1rem;
  --text-md: 1.125rem;
  --text-lg: 1.25rem;
  --text-xl: 1.5rem;
  --text-2xl: 1.75rem;
  --text-3xl: 2rem;
  --text-4xl: 2.5rem;

  --color-light-red: hsl(0, 100%, 67%);
  --color-orangey-yellow: hsl(39, 100%, 56%);
  --color-green-teal: hsl(166, 100%, 37%);
  --color-obalt-blue: hsl(234, 85%, 45%);

  --color-pale-blue: hsl(221, 100%, 96%);
  --color-light-lavender: hsl(241, 100%, 89%);
  --color-dark-gray-blue: hsl(224, 30%, 27%);
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  position: relative;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

main {
  width: 36rem;
  background-color: var(--color-light-red);
}

.card {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.result {
  background-color: var(--color-obalt-blue);
  display: grid;
  align-content: start;
  text-align: center;
  padding: 1.5rem 2rem;
}

.result__title {
}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  text-align: center;
}
