* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: #674baf;
  background-image: url("./images/bg-desktop.svg");
  background-size: cover;
  font-family: "poppins", sans-serif;
  background-repeat: no-repeat;
  background-position: center center;
  display: grid;
  justify-content: center;
}

main {
  max-width: 80rem;
  width: 100%;
  margin: 0 auto;
  color: #fff;
}

main > div {
  margin: 0 1rem;
}

.logo {
  padding: 2rem 0;
}

.content {
  display: grid;
  grid-template-columns: 53% 47%;
  margin: 2rem 0;
}

.content__image > img {
  max-width: 100%;
}

.content__text {
  padding-top: 4rem;
  padding-left: 4rem;
}

.content__heading {
  font-size: 2.4rem;
  line-height: 1.5;
  margin-bottom: 1.25rem;
}

.content__description {
  font-size: 1rem;
  line-height: 1.6;
  margin-bottom: 1.25rem;
}

.content__register {
  background-color: #fff;
  border-radius: 60rem;
  border: 0;
  padding: 1rem 3.5rem;
  color: #674baf;
  font-size: 1rem;
  box-shadow: 0.625rem 0.625rem 0.625rem rgba(0, 0, 0, 0.1);
}

.content__register:hover {
  background-color: #e882e8;
  cursor: pointer;
  color: #fff;
}

.icons {
  display: grid;
  gap: 1.5rem;
  grid-template-columns: min-content min-content min-content;
  justify-content: end;
}

.icons div:hover {
  color: #e882e8;
  cursor: pointer;
}

.attribution {
  font-size: 0.625rem;
  color: #ddd;
  width: 100%;
  text-align: center;
}

.attribution a {
  color: #fff;
}

@media screen and (max-width: 1080px) {
  main {
    max-width: 375px;
    margin-bottom: 2rem;
  }
  .logo img {
    width: 200px;
  }
  .content {
    grid-template-columns: 1fr;
    text-align: center;
  }
  .content__image {
    margin: 0 auto;
  }
  .content__text {
    padding-left: 0;
    padding-top: 2rem;
  }
  .content__heading {
    font-size: 1.75rem;
  }
  .content__register {
    padding-right: 5rem;
    padding-left: 5rem;
  }
  .icons {
    justify-content: center;
    margin-top: 4rem;
  }
}
