* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  position: relative;
  background-color: #0c122c;
  min-height: 100vh;
  display: grid;
  justify-content: center;
  align-items: center;
}

.data-storage {
  display: grid;
  align-items: end;
  gap: 1.825rem;
  grid-template-columns: auto auto;
  max-width: 48rem;
}

.data-storage__images {
  background-color: #1d2c67;
  padding: 2rem;
  border-radius: 0.625rem;
  border-top-right-radius: 5rem;
}

.data-storage__icons {
  display: grid;
  gap: 1rem;
  justify-content: left;
  grid-template-columns: repeat(3, min-content);
}

.data-storage__logo {
  margin-bottom: 1.6rem;
}

.data-storage__icon {
  background-color: #0c122c;
  width: 2.8rem;
  height: 2.8rem;
  border-radius: 0.4rem;
  display: grid;
  justify-content: center;
  align-items: center;
}

.data-storage__detail {
  display: grid;
  gap: 20px;
  background-color: #1d2c67;
  padding: 2rem;
  border-radius: 0.625rem;
  color: #fff;
}

.data-storage__used-space-graphical {
  width: 100%;
  height: 1rem;
  padding: 2px;
  background-color: hsl(229, 57%, 11%);
  border-radius: 10rem;
}

.data-storage__used-space-graphical-inner {
  height: 100%;
  width: 100%;
  background-image: linear-gradient(
    to right,
    hsl(6, 100%, 80%),
    hsl(335, 100%, 65%)
  );
  border-radius: 10rem;
}

.attribution {
  position: absolute;
  width: 100%;
  text-align: center;
  bottom: 0;
  font-size: 0.825rem;
}
