* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  position: relative;
  background-color: #0c122c;
  min-height: 100vh;
  display: grid;
  justify-content: center;
  align-items: center;
  font-size: 0.875rem;
  font-family: "raleway", sans-serif;
}

.data-storage {
  display: grid;
  align-items: end;
  gap: 1.825rem;
  grid-template-columns: minmax(min-content, 18rem) minmax(min-content, 32rem);
  margin: 0 1rem;
}

body::after {
  position: absolute;
  content: "";
  top: 50vh;
  left: 0;
  width: 100vw;
  height: 50vh;
  background-image: url("./images/bg-desktop.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top center;
  z-index: -1;
}

.data-storage__images {
  background-color: #1d2c67;
  padding: 2rem;
  border-radius: 0.625rem;
  border-top-right-radius: 5rem;
}

.data-storage__icons {
  display: grid;
  gap: 1rem;
  justify-content: left;
  grid-template-columns: repeat(3, min-content);
}

.data-storage__logo {
  margin-bottom: 1.6rem;
}

.data-storage__icon {
  background-color: #0c122c;
  width: 2.8rem;
  height: 2.8rem;
  border-radius: 0.4rem;
  display: grid;
  justify-content: center;
  align-items: center;
}

.data-storage__detail {
  display: grid;
  background-color: #1d2c67;
  padding: 2rem;
  border-radius: 0.625rem;
  color: #fff;
}

.data-storage__used-space {
  margin-bottom: 1rem;
}

.data-storage__used-space-graphical {
  position: relative;
  width: 100%;
  height: 1rem;
  padding: 0.125rem;
  background-color: #0c122c;
  border-radius: 10rem;
  margin-bottom: 0.5rem;
}

.data-storage__used-space-graphical-inner {
  height: 100%;
  width: 81.5%;
  background-image: linear-gradient(to right, #ffa399, #ff4d97);
  border-radius: 10rem;
  display: grid;
  justify-content: end;
  align-items: center;
}

.data-storage__used-space-graphical-circle {
  width: 0.625rem;
  height: 0.625rem;
  background-color: #fff;
  border-radius: 10rem;
  margin-right: 0.0625rem;
}

.data-storage__left-space {
  position: absolute;
  display: grid;
  grid-template-columns: auto auto;
  align-items: center;
  gap: 0.625rem;
  bottom: 3.5rem;
  background-color: #fff;
  color: #0c122c;
  right: 0;
  padding: 0.5rem 1rem;
  border-radius: 0.625rem;
  font-size: 2.5rem;
  font-weight: bold;
}

.data-storage__left-space-gbleft {
  font-size: 0.875rem;
  color: #848794;
}

.data-storage__left-space::after {
  position: absolute;
  bottom: -1rem;
  right: 0;
  clip-path: polygon(0 0, 100% 0, 100% 100%, 100% 100%);
  content: "";
  width: 1.8rem;
  height: 1.8rem;
  background-color: #fff;
}

.data-storage__capacity {
  display: grid;
  grid-auto-flow: column;
  justify-content: space-between;
}

.attribution {
  color: #fff;
  position: absolute;
  width: 100%;
  text-align: center;
  bottom: 0;
  font-size: 0.825rem;
}

.attribution a {
  color: #ff4d97;
}

@media screen and (max-width: 48rem) {
  body::after {
    top: 0;
    height: 100vh;
    background-image: url("./images/bg-mobile.png");
  }
  .data-storage {
    grid-template-columns: 1fr;
  }
  .data-storage__detail {
    padding-bottom: 3rem;
  }
  .data-storage__used-space {
    text-align: center;
  }
  .data-storage__left-space {
    position: absolute;
    bottom: -6.5rem;
    right: 50%;
    transform: translateX(50%);
  }
  .data-storage__left-space::after {
    display: none;
  }
}
