* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  position: relative;
  font-family: sans-serif;
  background-color: #19a2ae;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  overflow: hidden;
}
.card {
  max-width: 320px;
  width: 100%;
  min-height: 360px;
  margin: 0 10px;
  background-color: #fff;
  border-radius: 10px;
  overflow: hidden;
  display: grid;
  grid-template-rows: 3fr 4fr 2.5fr;
  gap: 0;
}
.card__header {
  background-image: url("images/bg-pattern-card.svg");
}
.card__center {
  position: relative;
  text-align: center;
  display: flex;

  justify-content: center;
}
.card__image {
  position: absolute;
  top: 0;
  left: 50%;
  border-radius: 100px;
  transform: translate(-50%, -50%);
  border: 6px solid #fff;
}
.card__information {
  margin-top: 70px;
}
.card__name {
  display: flex;
  gap: 10px;
  margin-bottom: 8px;
  font-size: 18px;
}
.name {
  font-weight: bold;
  font-size: 1.2rem;
}
.age {
  color: #6a6f81;
}
.city {
  color: #6a6f81;
  font-size: 16px;
  margin-bottom: 10px;
}
.card__footer {
  display: grid;
  justify-content: center;
  align-items: center;
  grid-template-columns: repeat(3, min-content);
  gap: 40px;
  padding: 20px 0px;
  border-top: 1px solid #6a6f81;
  width: 100%;
}
.card__footer > div {
  display: flex;
  width: min-content;
  flex-direction: column;
  align-items: center;
}
.number {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 4px;
}
.title {
  font-size: 12px;
  color: #6a6f81;
}

/* patterns */
.pattern__top {
  position: absolute;
  right: 0;
  bottom: 0;
  transform: translateX(-50vw) translateY(-20%);
  z-index: -1;
}
.pattern__bottom {
  position: absolute;
  left: 0;
  top: 0;
  transform: translateX(50vw) translateY(20%);
  z-index: -1;
}

.attribution {
  position: absolute;
  bottom: 0;
  width: 100%;
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: #007;
}
