* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "open sans", sans-serif;
}

h1,
h2,
h3 {
  font-family: "raleway", sans-serif;
}

.container {
  max-width: 90rem;
  margin: 0 auto;
  padding: 0 4rem;
}

nav {
  display: flex;
  justify-content: space-between;
  padding: 4rem 0;
}

nav ul {
  display: flex;
  gap: 3rem;
}

nav ul li {
  list-style: none;
  color: hsl(243, 87%, 12%);
}

.hero {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  margin-bottom: 8rem;
}

.hero__text {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  max-width: 37.5rem;
}

.hero__text h1 {
  font-size: 2.5rem;
  line-height: 1.4;
}

.hero__text p {
  font-size: 1.125rem;
}

.hero__image {
  width: 100%;
}

.hero__image img {
  width: 100%;
}

.hero form input {
  padding: 0.5rem 1rem;
  max-width: 20rem;
  width: 100%;
}

.hero form button {
  border: 0;
  padding: 0.625rem 3rem;
  background-color: hsl(224, 93%, 58%);
  color: #fff;
  cursor: pointer;
}

.hero form button:hover {
  background-color: rgb(48, 101, 248, 0.9);
}

/*********** how fylo works ***********/
.how-fylo-works {
  padding: 5rem 0;
  background-color: hsl(240, 75%, 98%);
}

.how-fylo-works__container {
  display: grid;
  gap: 2rem;
  grid-template-columns: 55% 45%;
}

.how-fylo-works__text {
  display: grid;
  gap: 1rem;
}

.how-fylo-works__text h2 {
  font-size: 2rem;
  margin-bottom: 2rem;
}

.how-fylo-works__text p {
  max-width: 500px;
}

.how-fylo-works__image {
}

.how-fylo-works__image img {
  width: 100%;
}

.testimonial {
  background-color: #fff;
  padding: 1rem 2rem;
  max-width: 350px;
  border-radius: 5px;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.1);
}

.testimonial__info {
  display: flex;
}

.testimonial__image {
  width: 40px;
  height: 40px;
  border-radius: 20rem;
  overflow: hidden;
}

.testimonial__image img {
  width: 100%;
}

.testimonial__name {
  font-weight: bold;
}
