* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "open sans", sans-serif;
}

h1,
h2,
h3 {
  font-family: "raleway", sans-serif;
}

.container {
  max-width: 90rem;
  margin: 0 auto;
  padding: 0 4rem;
}

nav {
  display: flex;
  justify-content: space-between;
  padding: 4rem 0;
}

nav ul {
  display: flex;
  gap: 3rem;
}

nav ul li {
  list-style: none;
  color: hsl(243, 87%, 12%);
}

.hero {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  margin-bottom: 8rem;
}

.hero__text {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  max-width: 37.5rem;
}

.hero__text h1 {
  font-size: 2.5rem;
  line-height: 1.4;
}

.hero__text p {
  font-size: 1.125rem;
}

.hero__image {
  width: 100%;
}

.hero__image img {
  width: 100%;
}

.hero form input {
  padding: 0.875rem 1rem;
  max-width: 20rem;
  width: 100%;
  margin-right: 0.5rem;
}

.hero form button {
  border: 1px solid hsl(224, 93%, 58%);
  padding: 0.875rem 4rem;
  background-color: hsl(224, 93%, 58%);
  color: #fff;
  cursor: pointer;
}

.hero form button:hover {
  background-color: rgb(48, 101, 248, 0.9);
  border: 1px solid rgb(48, 101, 248, 0.9);
}

/*********** how fylo works ***********/
.how-fylo-works {
  padding: 8rem 0;
  background-color: hsl(240, 75%, 98%);
  position: relative;
}

.how-fylo-works::before {
  position: absolute;
  z-index: -1;
  top: -6rem;
  content: "";
  height: 10rem;
  width: 100%;
  background-image: url("./images/bg-curve-desktop.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.how-fylo-works__container {
  display: grid;
  gap: 2rem;
  grid-template-columns: 55% 45%;
}

.how-fylo-works__text {
  display: grid;
  gap: 1rem;
}

.how-fylo-works__text h2 {
  font-size: 2.5rem;
  margin-bottom: 2rem;
}

.how-fylo-works__text p {
  max-width: 31.25rem;
}

.how-fylo-works__link {
  margin-bottom: 2rem;
  display: flex;
  max-width: max-content;
  align-items: center;
  gap: 5px;
  border-bottom: 1px solid transparent;
  color: hsl(170, 45%, 43%);
  text-decoration: none;
}

.how-fylo-works__link:hover {
  color: rgba(60, 159, 143, 0.6);
  border-bottom: 1px solid rgba(60, 159, 143, 0.6);
}

.how-fylo-works__image img {
  width: 100%;
}

.testimonial {
  background-color: #fff;
  padding: 1rem 2rem;
  max-width: 350px;
  border-radius: 5px;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.1);
}

.testimonial p {
  font-size: 0.875rem;
  line-height: 1.8;
  margin-bottom: 1rem;
}

.testimonial__info {
  display: flex;
  align-items: center;
  gap: 0.875rem;
}

.testimonial__image {
  width: 40px;
  height: 40px;
  border-radius: 20rem;
  overflow: hidden;
}

.testimonial__image img {
  width: 100%;
}

.testimonial__name {
  font-weight: bold;
  font-size: 0.875rem;
}

.testimonial__position {
  font-size: 0.625rem;
}

/*********** cta ***********/

.cta {
  padding: 8rem 0;
  background-color: hsl(238, 22%, 44%);
  color: #fff;
}

.cta__container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 100%;
  justify-items: center;
}

.cta h2 {
  font-size: 2rem;
  margin-bottom: 1rem;
}

.cta p {
  max-width: 31.25rem;
}

.cta__form {
  max-width: 31.25rem;
}

.cta__form form input {
  padding: 0.875rem 1rem;
  max-width: 100%;
  width: 100%;
  margin-right: 0.5rem;
  margin-bottom: 1rem;
}

.cta__form button {
  border: 1px solid hsl(224, 93%, 58%);
  padding: 0.875rem 2rem;
  background-color: hsl(224, 93%, 58%);
  color: #fff;
  cursor: pointer;
}

.cta__form button:hover {
  background-color: rgb(48, 101, 248, 0.9);
  border: 1px solid rgb(48, 101, 248, 0.9);
}

.cta__text {
  justify-self: start;
}
