.attribution {
  position: absolute;
  bottom: 0;
  left: 0;
  max-width: 100vw;
  width: 100%;
  color: #fff;
  font-size: 0.7rem;
  text-align: center;
}
.attribution a {
  color: #aa5cdb;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  font-family: Outfit, sans-serif;
  background-color: #090b1a;
  max-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.all {
  display: grid;
  grid-template-columns: 1fr 1fr;
  border-radius: 7px;
  overflow: hidden;
  width: 1080px;
  background-color: #1b1938;
}
.all > div > img {
  display: block;
}
.image {
  position: relative;
}
.image::after {
  content: "";
  height: 100%;
  width: 100%;
  position: absolute;
  background-color: #aa5cdb;
  opacity: 0.5;
  left: 0;
  top: 0;
}

.text {
  display: flex;
  flex-direction: column;
  color: white;
  padding: 72px;
}
.title {
  font-family: "lexend deca";
  font-size: 32px;
  font-weight: 900;
}
.insights {
  color: #aa5cdb;
}
.paragraph {
  font-size: 14px;
  color: #ffffffbf;
  line-height: 1.8;
  margin: 28px 80px 64px 0;
}

.number {
  display: flex;
  justify-content: space-between;
  margin-right: 80px;
}
.number > div > p:first-child {
  font-family: "lexend deca";
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 4px;
}
.number > div > p:last-child {
  text-transform: uppercase;
  font-family: "Outfit";
  letter-spacing: 1.5px;
  font-size: 12px;
  color: #ffffffbf;
}
@media screen and (max-width: 1080px) {
  .all {
    display: flex;
    flex-direction: column-reverse;
    width: 280px;
  }
  .image > img {
    width: 280px;
  }
  .image {
    height: 210px;
    overflow: hidden;
  }
  .text {
    text-align: center;
    color: white;
    padding: 0 20px;
  }
  .paragraph {
    margin: 14px 5px 20px;
  }
  .title {
    margin-top: 30px;
    font-family: "lexend deca";
    font-size: 22px;
    font-weight: 900;
  }
  .number {
    flex-direction: column;
    display: flex;
    justify-content: center;
    justify-items: center;
    margin: 0 0 20px 0;
  }
  .number > div {
    margin: 10px;
  }
  .number > div > p:first-child {
    font-size: 22px;
  }
}
